# Extension-less executables #
##############################
*
!*.*
!*/
!Makefile

# Subfolders #
##############
factory_pp*/
mutex_dl*/
Outputs/

# Compiled source #
###################
*~
*.dSYM

# Miscellaneous #
#################
.*
*.txt
*.swp
*.bak

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
